html,
body {
    height: 100%;
    margin: 0;
    background: black;
}

.grid-layout {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 60px;
    overflow-y: auto;
}

.grid-default {
    display: grid;
    grid-template-columns: 1fr 5px 1fr 5px 1fr;
    grid-template-rows: 100%;
}

.grid-library-main-content{
grid-template-columns: 1fr 5px 2fr;
}


.gutter-col {
    cursor: col-resize;
    width: 5px;
}

.gutter-col::after {
    content: "";
    margin: 0 auto;
    background: aqua;
    height: 100%;
    width: 1px;
    display: block;
}



.player {
    background: #111;
    color: white;
    padding: 1rem;
    text-align: center;
}

.toggle-btn {
    background: #222;
    color: white;
    border: 1px solid #444;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.left-panel {
    max-width: 400px;
    min-width: 72px;
    width: 100%;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.center-panel {
    max-width: 700px;
    min-width: 200px;
}

 