body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.album-container {
    margin: 20px auto;
    padding: 20px;
}

.album-header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.album-cover {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-right: 20px;
}

.album-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.album-title {
    font-size: clamp(20px, 2vw, 70px);
    font-weight: bold;
    text-wrap-style: balance;
}

 

.album-artist:hover {
    text-decoration: underline;
    cursor: pointer;
}

.album-controls {
    margin-top: 15px;
    display: flex;
}

.btn-play {
    background-color: #0077ff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.track-list {
width: calc(100% - 43px);
    border-collapse: collapse;
    margin: auto;
}

.track-list th,
.track-list td {
    text-align: left;
    padding: 10px;
}

.track-title {
    display: flex;
    flex-direction: column;
}

.track-name {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.track-artist {
    font-size: 12px;
    color: #b3b3b3;
}

.icon-time {
    display: flex;
    justify-content: center;
}

.track-duration {
    display: flex;
    justify-content: center;
}

.copyrights-container {
    color: gray;
    font-size: small;
    margin: 50px 20px;
}

.tr-row:hover{
    background-color: #1f1f1f;
}
 
.text-style{
    font-size: smaller;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 8px;
    overflow: hidden;
    overflow-wrap: anywhere;
    text-overflow: ellipsis;
}

 
.btn-hidden {
position: absolute;
right: 0;
transform: translate(-20px, -60px);
background: #0077ff;
color: white;
border: none;
padding: 12px 24px;
border-radius: 6px;
cursor: pointer;
transition:
    bottom 0.4s ease,
    opacity 0.4s ease;
opacity: 0;
border: none;
border-radius: 50%;
width: 10px;
height: 30px;
font-size: 20px;
cursor: pointer;
margin-right: 10px;
display: flex;
justify-content: center;
align-items: center;
}

.text-playing{
    color: #0077ff;
}
 
.td-track-number{
    width: 50px;
}
