.library-container{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    /* align-items: center; */
    background: rgb(18, 18, 18);
    padding: 0 0 0 10px;
    border-radius: 5px;
    margin: 0px 8px;
    height: 100%;
}
 
.meta{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
}
.img-library-item{
    border-radius: 6px;
}
.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.library-item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0px 8px;
}
 
.library{ 
    overflow-y: auto; 
    width: 100%;
    /* margin: 5px auto; */
    display: flex;
    flex-direction: column !important;
    align-items: start;  
    height: 100%;
}
 
.button-to-collapse-library {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: transparent;
}

.container-action-library-button{
    /* margin: 5px auto; */
    margin: 13px 8px;
}

.container-library-center-style{
    display: flex;
    flex-direction: column;
    background: rgb(18, 18, 18);
    border-radius: 5px;
    height: 100%;
    padding: 0 0 0 10px;
    margin: 0px 8px;
}

.container-title-meta{
    display: inline-grid;
}