---
export const prerender = true;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - Página no encontrada</title>

    <link rel="stylesheet" href="/404.css" />
  </head>
  <body>
    <div class="error-container">
      <div class="error-code">404</div>
      <div class="error-message">Página no encontrada</div>
      <div class="error-description">
        La página que buscas no existe o fue movida.<br />
        Puedes regresar al inicio para continuar navegando.
      </div>
      <a href="/" class="btn-home">Volver al inicio</a>
      <div class="footer">
        Proyecto <a href="https://github.com/Erickson98" target="_blank"
          >open source</a
        >
      </div>
    </div>
  </body>
</html>
