---
import GithubIcon from "../assets/icons/githubIcon.svg";
import LinkedinIcon from "../assets/icons/linkedinIcon.svg";
import MailIcon from "../assets/icons/mailIcon.svg";
import NoteIcon from "../assets/icons/noteIcon.svg";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login con Media Player</title>
    <link rel="stylesheet" href="/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h1>Login con Media Player</h1>
      <p>Inicia sesión para disfrutar de tu música favorita.</p>
      <a class="mediaPlayer-btn" href="/api/auth/login">
        <img src={NoteIcon.src} alt="mediaPlayer" width="32" />
        Iniciar sesión con Media Player
      </a>
      <div class="footer">
        <div class="footer">
          © 2025 Music Player. Proyecto <a
            href="https://github.com/Erickson98/media-player"
            target="_blank"
            style="color:#1db954; text-decoration:none;">open source</a
          >.
        </div>
      </div>
      <div class="developer-info">
        Desarrollado por Erickson
        <div class="social-links">
          <a
            href="https://github.com/Erickson98"
            target="_blank"
            title="GitHub"
          >
            <img src={GithubIcon.src} alt="" srcset="" width="24" />
          </a>
          <a
            href="https://www.linkedin.com/in/erickson-ruck-agramonte-b0b60024a/"
            target="_blank"
            title="LinkedIn"
            ><img src={LinkedinIcon.src} alt="" srcset="" width="24" /></a
          >
          <a
            href="mailto:erickson.ruck07@gmail.com"
            target="_blank"
            title="Gmail"
            ><img src={MailIcon.src} alt="" srcset="" width="24" /></a
          >
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
