---
const { album, title } = Astro.props;
---

<div>
  <a href="/" target="_blank" rel="noopener noreferrer">{title}</a>
  <div class="container-for-albums-carrusel">
    {
      album.items.map((item) => (
        <button class="btn-album-go-to" data-album-id={item.id}>
          <div>
            <img
              class="img-album"
              src={item?.images[1].url}
              alt=""
              srcset=""
              width="153"
            />
            <div>{item?.name}</div>
            {item?.artists?.map((a) => a.name).join(", ")}
          </div>
        </button>
      ))
    }
  </div>
</div>

<style>
  .img-album {
    border-radius: 5px;
  }
  .container-for-albums-carrusel {
    display: flex;
    gap: 27px;
  }
</style>
