---
import ThreePanelLayout from "../layouts/Layout.astro";
import RouterController from "../components/RouterController.astro";
import LeftPanel from "../components/LeftPanel.astro";
import CenterPanel from "../components/CentralPanel.astro";
import RightPanel from "../components/RightPanel.astro";
---

<ThreePanelLayout title="Media-Player">
  <div style="height: 100%;" slot="left"><LeftPanel /></div>
  <CenterPanel />
  <div slot="right"><RightPanel /></div>
</ThreePanelLayout>

<RouterController />
