---
export const prerender = false;
import SearchIcon from "../assets/icons/searchIcon.svg";
import List from "../assets/icons/list-icon.svg";
import XIcon from "../assets/icons/XIcon.svg";
import OpenedLibrary from "../assets/icons/openLibrary.svg";
---

<div class="library-container">
  <div class="container-action-library-button">
    <button class="button-to-collapse-library">
      <img
        id="OPEN"
        class="library-icon"
        src={OpenedLibrary.src}
        width="24"
        alt="Library Icon"
      />
      <div class="label-your-library">Your Library</div>
    </button>
  </div>
  <div class="container-search-bar">
    <div class="search-bar">
      <img src={SearchIcon.src} width="15" height="15" alt="Search" />
      <label class="label-input">
        <input
          id="inputSearch"
          name="inputSearch"
          placeholder="Search..."
          autocomplete="off"
        />
      </label>

      <button
        type="button"
        class="clear-button"
        aria-label="delete-content-for-searchbar"
      >
        <img src={XIcon.src} width="15" height="15" alt="Clear" />
      </button>
    </div>
    <div>
      <List width={24} />
    </div>
  </div>
  <div class="library">
    <p>Loading...</p>
  </div>
</div>

<script>
  import { loadLibrary } from "@/scripts/LoadLibrary";
  loadLibrary();
</script>
