---
export const prerender = false;
---

<div id="playing-container">
  <p>Sin canci贸n en reproducci贸n</p>
</div>

<template id="playing-tpl">
  <div class="container-playing-component">
    <div>
      <img
        data-field="album-cover"
        alt="cover"
        width="60"
        class="img-playing-view"
      />
    </div>
    <div class="container-meta-description-song">
      <span data-field="track-name"></span>
      <span data-field="artist-name"></span>
    </div>
  </div>
</template>

<script>
  const container = document.getElementById("playing-container");
  const tpl = document.getElementById("playing-tpl");
  const KEY_FOR_LAST_PLAYED = "lastPlayedHistory";
  function renderPlaying() {
    const lastPlayed = JSON.parse(localStorage.getItem(KEY_FOR_LAST_PLAYED));
    container.replaceChildren();
    console.log(lastPlayed);
    const node = tpl.content.cloneNode(true);
    const q = (sel) => node.querySelector(sel);

    if (!lastPlayed) {
      container.innerHTML = "";
      return;
    }

    q('[data-field="album-cover"]').src = lastPlayed.imgAlbum || "";
    q('[data-field="track-name"]').textContent = lastPlayed.trackName || "";
    q('[data-field="artist-name"]').textContent = lastPlayed.artistName || "";

    container.appendChild(node);
  }

  // 1) Intentar desde localStorage

  async function main() {
    try {
      let lastPlayed = JSON.parse(localStorage.getItem(KEY_FOR_LAST_PLAYED));

      if (lastPlayed) {
        renderPlaying(lastPlayed);
      } else {
        // 2) Si no hay, usar lo que vino del SSR (props de Astro)
        async function getLastPlayed() {
          const lastPlayed = await fetch(
            "/api/spotify/me/player/recently-played?limit=2"
          );
          return await lastPlayed.json();
        }
        lastPlayed = await getLastPlayed();
        if (lastPlayed?.items?.length) {
          renderPlaying(lastPlayed);
          localStorage.setItem("lastPlayed", JSON.stringify(lastPlayed));
        }
        // else {
        //   container.innerHTML = `<p>Sin canci贸n en reproducci贸n</p>`;
        // }
      }
      window.dispatchEvent(
        new CustomEvent("ui:track", {
          detail: {
            albumId: lastPlayed.albumId,
            trackId: lastPlayed.id,
            trackName: lastPlayed.name,
            imgAlbum: lastPlayed.imgAlbum,
            artistImg: lastPlayed.artistImg,
            trackArtists: lastPlayed.trackArtists,
            bioArtist: lastPlayed.bioArtist,
            artistName: lastPlayed.artistName,
            albumName: lastPlayed.albumName,
          },
        })
      );
    } catch (e) {
      console.warn("Error parsing lastPlayed from localStorage", e);
    }
  }
  await main();
  window.addEventListener("route:playing", (e) => {
    main();
  });
</script>

<style>
  .container-playing-component {
    display: flex;
    align-items: center;
    font-size: small;
    gap: 20px;
  }
  .container-meta-description-song {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .img-playing-view {
    border-radius: 5px;
  }
</style>
