---
import NextIcon from "src/assets/icons/next.svg?url";
import PreviousIcon from "src/assets/icons/previous.svg?url";
import PlayIcon from "src/assets/icons/iconPlay.svg?url";
---

<div class="container-play">
  <div class="top-play-component-actions">
    <button class="previous-action">
      <img src={PreviousIcon} width="15" alt="" srcset="" />
    </button>

    <button class="play-action">
      <img
        src={PlayIcon}
        class="play-action-icon"
        data-action="pause"
        width="15"
        alt=""
        srcset=""
      />
    </button>

    <button class="next-action">
      <img src={NextIcon} width="15" alt="" srcset="" />
    </button>
  </div>

  <div class="bottom-play-component-actions">
    <span class="time">0:00</span>
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>
    <span class="time">3:30</span>
  </div>
</div>

<style>
  .container-play {
    width: 42%;
    display: flex;
    flex-direction: column; /* acciones arriba y barra abajo */
    /* gap: 12px; */
    color: #fff;
    font-family: system-ui, sans-serif;
  }

  .top-play-component-actions {
    /* estilos para los botones de arriba */
  }

  .bottom-play-component-actions {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  .bottom-play-component-actions .time {
    font-size: 12px;
    width: 40px; /* ancho fijo para alinear */
    text-align: center;
  }

  .progress-container {
    height: 4px;
    width: 100%;
    background: #333; /* Barra gris */
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  .progress-bar {
    height: 100%;
    width: 0%; /* empieza vacía */
    background: #fff; /* Progreso blanco */
    border-radius: 8px 0 0 8px;
    transition: width 0.2s linear;
  }
</style>

<script>
  import { spotifyPlayerAction } from "@/scripts/spotifyPlayerAction";
  import { localStorageGet } from "src/utils/localStorage";
  import PauseIcon from "src/assets/icons/iconPause.svg?url";
  import PlayIcon from "src/assets/icons/iconPlay.svg?url";

  const previousElement = document.querySelector(
    ".previous-action"
  ) as HTMLElement;
  previousElement?.addEventListener("click", async () => {
    try {
      await spotifyPlayerAction("previous", { deviceId: window.deviceId });
    } catch (error) {}
  });

  const playElement = document.querySelector(".play-action");

  playElement?.addEventListener("click", async () => {
    const imgElement = document.querySelector(
      ".play-action-icon"
    ) as HTMLImageElement;
    if (imgElement.dataset.action === "pause") {
      imgElement.src = PauseIcon;
      imgElement.dataset.action = "play";
      const lastPlayed = localStorageGet("lastPlayedHistory");

      await spotifyPlayerAction("play", {
        context_uri: `spotify:album:${lastPlayed.albumId}`,
        deviceId: window.deviceId,
      });
    } else if (imgElement.dataset.action === "play") {
      imgElement.src = PlayIcon;
      imgElement.dataset.action = "pause";
      await spotifyPlayerAction("pause", {
        deviceId: window.deviceId,
      });
    }
  });

  const nextElement = document.querySelector(".next-action");
  nextElement?.addEventListener("click", async () => {
    try {
      debugger;
      await spotifyPlayerAction("next", { deviceId: window.deviceId });
    } catch (error) {}
  });
</script>
